@font-face {
  font-family: "AvertaDEMO";
  src: url("./assets/fonts/AvertaDEMO-bold.otf") format("opentype");
  src: url("./assets/fonts/AvertaDEMO-regular.otf") format("opentype");
}
$global-font-family: "AvertaDEMO", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
